body{
   
  
}

header{
    background: linear-gradient(to right, #1f234a, #3a4b5c);
    color: red;
    padding: 30px;
}

footer{
    background-color: #e85d3f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

